.TextContainer
{
    width: 50%;
    height: 50%;
    background-color: black;
    overflow: clip;
    position: absolute;
}

#Text
{
  width: 100px;
  height: 20px;
  vertical-align: center;
  font-size: 24px;
  color: #cccccc;
  text-shadow: 2px 2px 2px #000000;
}